body{
    background-color:rgb(105, 105, 105) ;
    overflow-y: hidden;
    overflow-x: hidden; 
}

.box{
    width: 99%;
    height: 100%;
    background-color: rgb(59, 59, 59);
    position:absolute;
    top: 7%;
  }

a{
    color: rgb(225,225,225);
    font-size: 35px;
}

*{
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    top: 10%;
  }

  .navbar{
    letter-spacing: 0px;
    width: 99%;
    height: 5%;
    background-color: rgb(73, 73, 73);
    position: absolute;
    top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
  }

  li{
    display: inline;
    padding:15px;
  }

  .MAINTEXT{
    position:absolute;
    width: 99%;
    height: 5%;
    top: 0%;
    color: white;
    padding-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .Title{
    top: 10px;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.box2{
    right: 0.5%;
    width: 45%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    position:absolute;
    top: 7%;
}

.box3{

  width: 99%;
  height: 87%;
  background-color: rgb(46, 46, 46);
  position:absolute;
  top: 20%;
}

.Links{
    font-size: 25px;
    color: white;
    text-align: center;
}

.Title2{
    padding-top: 2%;
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Link1{
  font-size: 25px;
  color: white;
  padding-left:1%;
}
